#index
{
	text-shadow: 2px 2px red;
	text-align: center;
	color: grey;
	font-size: 50px;
	font-family: Calibri;
	font-style: oblique;
	background-image: url(VIP025.jpg);
	background-size: cover;
}
#index1
{
	text-shadow: 2px 2px red;
	text-align: left;
	color: grey;
	font-size: 50px;
	font-family: Calibri;
	font-style: oblique;
	background-image: url(VIP025.jpg);
	background-size: cover;
}
#movie
{
	text-shadow: 2px 2px red;
	text-align: left;
	color: silver;
	font-size: 47px;
	font-family: Arial;
	font-style: italic;
	height:5500px;
	background-image: url(VIP025.jpg);
	background-size: cover;
}
